@font-face {
 	font-family: Cyber;
 	src: url("fonts/Blender-Pro-Bold.otf");
 	font-display: swap;
}

@font-face {
 	font-family: Hacked;
 	src: url("fonts/HACKED.ttf");
}

@font-face {
    font-family: Artifact;
    src: url("fonts/icomoon.ttf");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

head, body {

	background: #1F2232;
	
	
	background-image: radial-gradient(circle at 1px 1px, rgba(238, 238, 238, 0.15) 1px, transparent 0);
  	background-size: 30px 30px;
  	
}

.container {
	position: absolute;
	top: 35%;
	left: 15%;
	line-height: 70px;
}

#name {
	position: relative;
	color: rgb(255, 56, 89);
	font-family: 'Hacked';
	font-size: 5rem;
	letter-spacing: 6px;
}

#top {
	position: relative;
	color: white;
	font-family: 'Cyber';
	font-size: 3rem;
}

#bottom {
	position: relative;
	color: white;
	font-family: 'Cyber';
	font-size: 3rem;
}


#logo {
	position: absolute;
  	top: 18%;
  	left: 60%;
  	font-family: "Artifact", monospace;
  	color: rgb(255, 56, 89);
  	font-size: 27vw;
  	animation: shake 600ms ease-in-out infinite alternate;
  	text-shadow: 0 0 .07em rgb(255, 56, 89), -.2em 0 2em rgba(255, 56, 89, 0.3), .2em 0 2em rgba(255, 56, 89, 0.3);
}


button{
	margin-right: 20px;
	outline:none;
	height: 40px;
	text-align: center;
	width: 130px;
	border-radius:40px;
	background: rgba(255, 56, 89, 0.1);
	border: 2px solid rgb(255, 56, 89);
	color: white;
	letter-spacing:1px;
	text-shadow:0;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Cyber';
	cursor: pointer;
	transition: all 0.25s ease;
}

#button1:hover {
	color: white;
    background: rgba(255, 56, 89);
}

#button2:hover {
	color: white;
    background: rgba(255, 56, 89);
}

.scanline {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.02);
    animation: scanline 8s linear infinite;
    pointer-events: none;
}

@keyframes scanline {
    0.01% {
    height: 0;
  }
  99.99% {
    height: 100%
  }
    100% {
        height: 0;
    }
}

/*
.overlay {
	animation: flicker 0.30s infinite;
	background: rgba(16, 16, 16, 0.2);
	content: "";
	display: block;
	pointer-events: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}

@keyframes flicker {
		0% { opacity: 0.15795 }
		5% { opacity: 0.31511 }
		10% { opacity: 0.94554 }
		15% { opacity: 0.2469 }
		20% { opacity: 0.62031 }
		25% { opacity: 0.0293 }
		30% { opacity: 0.00899 }
		35% { opacity: 0.5344 }
		40% { opacity: 0.12778 }
		45% { opacity: 0.52042 }
		50% { opacity: 0.3823 }
		55% { opacity: 0.2198 }
		60% { opacity: 0.9383 }
		65% { opacity: 0.86615 }
		70% { opacity: 0.68695 }
		75% { opacity: 0.55749 }
		80% { opacity: 0.96984 }
		85% { opacity: 0.0361 }
		90% { opacity: 0.24467 }
		95% { opacity: 0.08351 }
		100% { opacity: 0.54813 }
}
*/


@keyframes shake {
	0%, 100% {
		transform: translate(-1px, 0);
	}
	10% {
		transform: translate(2px, 1px);
	}
	30% {
		transform: translate(-3px, 2px);
	}
	35% {
		transform: translate(2px, -3px);
		filter: blur(4px);
	}
	45% {
		transform: translate(2px, 2px) skewY(-8deg) scale( .96, 1);
		filter: blur(0);
	}
	50% {
		transform: translate(-3px, 1px);
	}
}

